{% extends "modelo.html" %}
{% block conteudo %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Bruno Venancio</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Aluno</h6>
    <p class="card-text"></p>
    <a href="https://github.com/brunovenanc10" class="card-link">Github</a>

  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Harlen Herick</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Aluno</h6>
    <p class="card-text"></p>
    <a href="https://github.com/Harlen539" class="card-link">Github </a>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Carlos Eduardo</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Aluno</h6>
    <p class="card-text"></p>
    <a href="https://github.com/CarlosEduardo12357" class="card-link">Github </a>

  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Erick Melo</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Aluno</h6>
    <p class="card-text"></p>
    <a href="https://github.com/Erick196272" class="card-link">Github </a>

  </div>

{% endblock %}